<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
<img width="1199" height="358" src="imagen.webp" class="custom-logo" alt="Clínica Grado" srcset="https://clinicagrado.es/wp-content/uploads/2020/09/cropped-clinica-grado-logo-1.png 1199w, https://clinicagrado.es/wp-content/uploads/2020/09/cropped-clinica-grado-logo-1-300x90.png 300w, https://clinicagrado.es/wp-content/uploads/2020/09/cropped-clinica-grado-logo-1-768x229.png 768w" sizes="(max-width: 1199px) 100vw, 1199px">
    {{{body}}}

</body>
</html>